workflows/1026.json
{
  "active": false,
  "id": "1026",
  "name": "Pinned data",
  "nodes": [
    {
      "parameters": {},
      "id": "ae8844c0-d11d-4875-a67c-9aef6360d8fb",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        620,
        740
      ]
    },
    {
      "parameters": {
        "operation": "getAllPeople"
      },
      "id": "9c8ea415-2b61-4f46-b021-1fd2fbbdacbb",
      "name": "Customer Datastore (n8n training)",
      "type": "n8n-nodes-base.n8nTrainingCustomerDatastore",
      "typeVersion": 1,
      "position": [
        840,
        740
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "nameCountry",
              "value": "={{ $json.name }} {{ $json.country }}"
            }
          ]
        },
        "options": {}
      },
      "id": "384f6aad-2fac-4f76-afac-f02ea5a4d285",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1060,
        740
      ]
    }
  ],
  "connections": {
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Customer Datastore (n8n training)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Customer Datastore (n8n training)": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "triggerCount": 1,
  "owner": "csaba@n8n.io",
  "versionId": "7ee98739-6e8b-40d2-b4be-e2730da61ad1"
}